# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# Environments
.env
.env.*
.venv/
venv/
ENV/
env.bak/

# ngrok
ngrok
ngrok.exe
ngrok.yml
.ngrok2/

# Logs
*.log

# MacOS
.DS_Store

# Images, docs, and other non-source artifacts
*.png
*.jpg
*.jpeg
*.gif

# Ignore docs build output
/docs/_build/
